.hello__form {
    display: flex;
    align-items: flex-start;
    grid-column: 1 / 11;
    padding: 0 40px;
    opacity: 0;
    transform: translateY(200px);
    height: 100vh;
    @media(min-width: 992px) {
        height: 100vh;
        grid-column: 6 / 10;
        padding: 0;
        align-items: center;
    }
    form {
        width: 100%;
    }
    label {
        display: block;
        margin-top: 20px;
    }
    input {
        display: block;
        width: 100%;
        padding: 12px 20px;
        border: 0;
        border-bottom: 4px solid rgba($color: white, $alpha: 0.2);
        border-radius: 0;
        background: var(--purple) !important;
        margin-top: 4px;
        color: #FFFFFF;
    }
    textarea {
        display: block;
        width: 100%;
        margin-top: 4px;
        border: 0;
        border-bottom: 4px solid rgba($color: white, $alpha: 0.2);
        border-radius: 0;
        background-color: var(--purple);
        color: white;
        padding: 12px 20px;
    }
    button {
        margin-top: 40px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
input:-internal-autofill-selected {
    background: var(--purple) !important;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 0%), inset 0 0 0 100px var(--purple);
    -webkit-text-fill-color: white;
}

::-webkit-input-placeholder {
    /* Webkit */
    color: rgba($color: #FFFFFF, $alpha: 0.2);
}

 :-moz-placeholder {
    /* Firefox 18-4 */
    color: rgba($color: #FFFFFF, $alpha: 0.2);
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($color: #FFFFFF, $alpha: 0.2);
}

 :-ms-input-placeholder {
    /*  IE10+  */
    color: rgba($color: #FFFFFF, $alpha: 0.2);
}

input:focus,
textarea:focus {
    border-color: var(--purple-bright);
    // box-shadow: 0 0 0 3px rgba($color: purple, $alpha: 0.2);
    border-radius: 0;
    border: 0;
}