.launch__text {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    grid-column: 2 / 10;
    grid-row: 1 / 2;
    @media(min-width: 992px) {
        grid-column: 7 / 10;
    }
    h3 {
        font-size: 100px;
        line-height: 1.1;
        text-transform: uppercase;
    }
    p {
        opacity: 0;
        // font-size: 1.2rem;
        transform: translateY(200px);
    }
}